body {
    margin: 0;
    padding: 0;
}

#MyViewerDiv {
    border: 1px solid #D4D4D4;
}


#MyControls {
    position: absolute;
    /* top: 5px; */
    /* left: 5px; */
    right: 15px;
    bottom: 15px;
    z-index: 1;
    /* padding: 1em; */
    /* font-size: 1em; */
    /* cursor: pointer; */
    /* box-shadow: 5px 5px 5px #888888; */
    border: 1px solid #D4D4D4;
    background-color: white;
    border-radius: 5px;
}

#autodesk_logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}
#autodesk_logo img {
    max-width: 50%;
}

#myUI {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    /*width: 600px;*/
    /*background-color: blanchedalmond;*/
    pointer-events: bounding-box;
}


.element {
    /*background-color: red;*/
    background-color: rgba(0,127,127,0.5);
    width: 120px;
    /*height: 160px;*/
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    text-align: center;
    /*transition: all 1s;*/
}
.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}

.cssOverlay {
    z-index: 1;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
